@media (max-width:1200px){

.left-block-contact {
    margin-top: 150px;
    margin-left: 150px
}
.contact-section-block {
    margin-top: 80px;
}

.map {
    display: none;
}



}


@media (max-width:960px){

    .contact-section-block {
        height: 50%;
    }
}



@media (max-width: 840px) {
    .div-header {
        height: 110px;
        flex-direction: column;
    }

}






@media(max-width:610px){

    /* .contact-section-block {
        height: 40%;
    }
    .div-header {
        flex-direction: row;
    }
    .ul-search{
        display: none;

    }
    .btn-class{
        display: block;
    }
    .active{
        display: block;
        
    }
    .text-position3 {
        font-size: 10px;
    }
    .text-position4 {
        font-size: 10px;
    } */
 
        .toggle-menu {
            display: block;
        }
        .nav-list {
            display: none;
        }
    
}

@media(max-width:610px){

    .left-block-contact {
        margin-top: 50px;
        margin-left: 50px
    }
    .gallery-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:490px){
    .contact-section-block {
        height: 30%;
    }
}